
<mat-sidenav-container fxFlexFill>

  <mat-sidenav #sidenav position="end" fixedInViewport="true">

    <mat-list>
      <mat-list-item>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>close</mat-icon>　閉じる</button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button (click)="showHomeFromSidenav()"><mat-icon>home</mat-icon>　ホーム</button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item *ngIf="isKanriDisplay">
        <button mat-menu-item (click)="showCustomerKanriFromSidenav()"><mat-icon>business</mat-icon>顧客管理</button>
      </mat-list-item>

      <mat-divider *ngIf="isKanriDisplay"></mat-divider>

      <mat-list-item *ngIf="isKanriDisplay">
        <button mat-menu-item (click)="showUserKanriFromSidenav()"><mat-icon>group</mat-icon>ユーザ管理</button>
      </mat-list-item>

      <mat-divider *ngIf="isKanriDisplay"></mat-divider>

      <mat-list-item>
        <button mat-button><mat-icon>face</mat-icon>　{{userName}}</button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-button (click)="baseJump()"><mat-icon>exit_to_app</mat-icon>　ログアウト</button>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>

  </mat-sidenav>


  <mat-sidenav-content>

      <div class="layout-header">
        <mat-toolbar color="primary" class="header-tool-bar">

          <mat-toolbar-row>

            <div fxShow="true" fxHide.xs="true">
              <img src="assets/tunnel.png" width="30" class="tunnel_img" />
            </div>

            <div fxLayout="row wrap">

              <div *ngFor="let customerName of customerNames">
                {{customerName}}
              </div>

            </div>

            <span class="portal_toolbar-spacer"></span>

            <div fxShow="true" fxHide.lt-md="true">

              <button mat-button (click)="showHome()">ホーム</button>

              <button *ngIf="isKanriDisplay" mat-button [matMenuTriggerFor]="kanri">管理</button>
              <mat-menu #kanri="matMenu">
                <button mat-menu-item (click)="showCustomerKanri()">顧客管理</button>
                <button mat-menu-item (click)="showUserKanri()">ユーザ管理</button>
              </mat-menu>

              <button mat-button>{{userName}}</button>

              <button mat-button (click)="baseJump()">ログアウト</button>

            </div>

            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">

              <mat-icon class="menu_icon">menu</mat-icon>

            </button>

          </mat-toolbar-row>

        </mat-toolbar>

      </div>

      <div class="layout-body">

        <router-outlet></router-outlet>

      </div>

  </mat-sidenav-content>


</mat-sidenav-container>

