<mat-sidenav-container class="mat-elevation-z8">

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="anken_sidenav">

    <div class="sidenav_container">

      <div class="mat-headline">案件管理</div>

      <mat-divider></mat-divider>

      <button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

      <button *ngIf="isAdd" mat-button (click)="saveAnkenInfo()"><mat-icon color="primary">save</mat-icon>保存</button>
      <button *ngIf="isEdit" mat-button (click)="updateAnkenInfo()"><mat-icon color="primary">save</mat-icon>保存</button>

      <mat-divider></mat-divider>

      <div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

      <div fxLayout="column">

        <mat-form-field>
          <input matInput placeholder="案件名" [formControl]="ankenFormControl" required>

          <mat-error *ngIf="ankenFormControl.hasError('required')">
            {{hissuAnkenMessage}}
          </mat-error>
        </mat-form-field>

      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-headline">案件一覧</div>

    <mat-divider></mat-divider>

    <button mat-button (click)="displayAddSideNav()" [disabled]="isAddDisabled"><mat-icon color="{{addIconColor}}">add</mat-icon>追加</button>

    <button mat-button (click)="displayEditSideNav()" [disabled]="isEditDisabled"><mat-icon color="{{editIconColor}}">create</mat-icon>編集</button>

    <button mat-button (click)="deleteAnkenInfo()" [disabled]="isDeleteDisabled"><mat-icon color="{{deleteIconColor}}">delete_forever</mat-icon>削除</button>

    <mat-divider></mat-divider>

    <mat-form-field>
      <input matInput (keyup)="applyFilterAnkenName($event.target.value)" placeholder="案件名でフィルタ">
    </mat-form-field>


    <div>
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectToggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 案件名 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="案件名">
            <a routerLink="./tunnellist" (click)="setSelectedAnken(element)" mat-button class="name-mat-button" color="primary"><mat-icon color="primary">launch</mat-icon>{{element.ankenName}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tunnel">
          <mat-header-cell *matHeaderCellDef mat-sort-header> トンネル数 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="トンネル数">{{element.tunnelNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 画像済 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="画像済"> {{element.imageNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cad">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CAD </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="CAD"> {{element.cadNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 作成日 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="作成日"> {{element.createdAt | date:"yyyy/MM/dd"}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selectToggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

