<h6>案件一覧</h6>

<mat-divider></mat-divider>

<button mat-button><mat-icon color="primary">add</mat-icon>追加</button>

<button mat-button><mat-icon color="primary">create</mat-icon>編集</button>

<button mat-button><mat-icon color="primary">delete_forever</mat-icon>削除</button>

<mat-divider></mat-divider>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="案件名でフィルタ">
  </mat-form-field>

  <mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> 案件名 </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button color="primary"><mat-icon color="primary">launch</mat-icon>{{element.name}}</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tunnel">
    <mat-header-cell *matHeaderCellDef> トンネル数 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tunnel}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef> 画像済 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.image}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cad">
    <mat-header-cell *matHeaderCellDef> CAD </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> 作成日 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
  </mat-row>
</mat-table>

