<div class="mat-headline">CAD設定</div>

<mat-divider></mat-divider>

<button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

<button mat-button (click)="saveCadSet()"><mat-icon color="primary">save</mat-icon>保存</button>

<mat-divider></mat-divider>

<div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

<div fxLayout="column">

  <mat-form-field>
    <mat-select placeholder="CADバージョン" [formControl]="cadVersionFormControl" required>
      <mat-option *ngFor="let cadVersion of cadVersions" [value]="cadVersion.selectItemId">
        {{cadVersion.selectItemName}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="cadVersionFormControl.hasError('required')">
      {{hissuCadVersionMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="CAD・PDF印刷用紙サイズ" [formControl]="cadPdfPrintPaperSizeFormControl" required>
      <mat-option *ngFor="let cadPdfPrintPaperSize of cadPdfPrintPaperSizes" [value]="cadPdfPrintPaperSize.selectItemId">
        {{cadPdfPrintPaperSize.selectItemName}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="cadPdfPrintPaperSizeFormControl.hasError('required')">
      {{hissuCadPdfPrintPaperSizeMessage}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="印刷レイアウト上余白(m)" [formControl]="printLayoutTopSpaceFormControl" required>

    <mat-error *ngIf="printLayoutTopSpaceFormControl.hasError('required')">
      {{hissuPrintLayoutTopSpaceMessage}}
    </mat-error>

    <mat-error *ngIf="printLayoutTopSpaceFormControl.hasError('max')">
      {{maxPrintLayoutTopSpaceMessage}}
    </mat-error>

    <mat-error *ngIf="printLayoutTopSpaceFormControl.hasError('min')">
      {{minPrintLayoutTopSpaceMessage}}
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="印刷レイアウト下余白(m)" [formControl]="printLayoutBottomSpaceFormControl" required>

    <mat-error *ngIf="printLayoutBottomSpaceFormControl.hasError('required')">
      {{hissuPrintLayoutBottomSpaceMessage}}
    </mat-error>

    <mat-error *ngIf="printLayoutBottomSpaceFormControl.hasError('max')">
      {{maxPrintLayoutBottomSpaceMessage}}
    </mat-error>

    <mat-error *ngIf="printLayoutBottomSpaceFormControl.hasError('min')">
      {{minPrintLayoutBottomSpaceMessage}}
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="スパン文字の大きさ" [formControl]="spanMojiSizeFormControl" required>

    <mat-error *ngIf="spanMojiSizeFormControl.hasError('required')">
      {{hissuSpanMojiSizeMessage}}
    </mat-error>

    <mat-error *ngIf="spanMojiSizeFormControl.hasError('max')">
      {{maxSpanMojiSizeMessage}}
    </mat-error>

    <mat-error *ngIf="spanMojiSizeFormControl.hasError('isOverZero')">
      {{minSpanMojiSizeMessage}}
    </mat-error>

  </mat-form-field>

  <div fxLayout="column" fxLayoutGap="20px">
    <div>
      <mat-hint>スパン文字の位置</mat-hint>

      <div>
        <mat-button-toggle-group [value]="spanMojiPositionSelected" #groupSpanMojiPosition="matButtonToggleGroup" (change)="onChangeSpanMojiPosition(groupSpanMojiPosition.value)">
          <mat-button-toggle value="1" matTooltip="左揃え"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
          <mat-button-toggle value="2" matTooltip="中央揃え"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
          <mat-button-toggle value="3" matTooltip="右揃え"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div>
      <mat-hint>スパン文字の向き</mat-hint>

      <div>
        <mat-button-toggle-group [value]="spanMojiDirectionSelected" #groupSpanMojiDirection="matButtonToggleGroup" (change)="onChangeSpanMojiDirection(groupSpanMojiDirection.value)">
          <mat-button-toggle value="1" matTooltip="横向き"><mat-icon>text_rotation_none</mat-icon></mat-button-toggle>
          <mat-button-toggle value="2" matTooltip="縦向き"><mat-icon>text_rotate_vertical</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div>
      <mat-hint>CADはm単位かmm単位か</mat-hint>

      <div>
        <mat-button-toggle-group [value]="cadUnitSelected" #groupCadUnit="matButtonToggleGroup" (change)="onChangeCadUnit(groupCadUnit.value)">
          <mat-button-toggle value="1" matTooltip="m単位">m</mat-button-toggle>
          <mat-button-toggle value="2" matTooltip="mm単位">mm</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div>
      <mat-hint>画像作成並び(左から・右から)</mat-hint>

      <div>
        <mat-button-toggle-group [value]="imageCreateOrderSelected" #groupImageCreateOrder="matButtonToggleGroup" (change)="onChangeImageCreateOrder(groupImageCreateOrder.value)">
          <mat-button-toggle value="1" matTooltip="左から"><mat-icon>format_textdirection_l_to_r</mat-icon></mat-button-toggle>
          <mat-button-toggle value="2" matTooltip="右から"><mat-icon>format_textdirection_r_to_l</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

  </div>

</div>
