<div class="jumbotron jumbotron-fluid text-white">

  <div class="container">
    <h1>クラウドAIによる</h1>

    <h1>コンクリート構造物の変状自動抽出サービス</h1>
  </div>

</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="0.5%" fxLayoutAlign="center" class="body-mat-card">

  <mat-card>
    <mat-card-title>
      <span>ひび割れ自動抽出サービス</span>
    </mat-card-title>

    <mat-card-content>
      <p>
        従来、人が行っていたひび割れ箇所などの選定作業（パソコン上でのトレース描画作業）を、AIにより自動抽出します。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <span>ひび割れ幅分類サービス</span>
    </mat-card-title>

    <mat-card-content>
      <p>
        従来、人が行っていた損傷区分を絞る（スクリーニング）作業を、AIにより自動判別します。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <span>その他変状自動抽出サービス</span>
    </mat-card-title>

    <mat-card-content>
      <p>
        従来、人が行っていた変状箇所（漏水、遊離石灰、豆板および剥落後、鉄筋露出（錆汁）、補修後、導水工）などの選定作業（パソコン上でのトレース描画作業）を、AIにより自動抽出します。
      </p>
    </mat-card-content>
  </mat-card>

</div>
