.grid-container {
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 3px;
  right: 3px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
}
