<mat-sidenav-container class="mat-elevation-z8">

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="user_sidenav">

    <div class="mat-headline">ユーザ管理</div>

    <mat-divider></mat-divider>

    <button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

    <button *ngIf="isAdd" mat-button (click)="saveUserInfo()"><mat-icon color="primary">save</mat-icon>保存</button>

    <button *ngIf="isEdit" mat-button (click)="updateUserInfo()"><mat-icon color="primary">save</mat-icon>保存</button>

    <mat-divider></mat-divider>

    <div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

    <div *ngIf="isDuplicateUserName" class="alert alert-danger">{{usedLoginIdMessage}}</div>


    <div fxLayout="column">

      <mat-form-field>
        <mat-select placeholder="顧客名" [formControl]="customerFormControl" required>
          <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
            {{customer.customerName}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="customerFormControl.hasError('required')">
          {{hissuCustomerMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="ユーザ名" [formControl]="userNameFormControl" required>

        <mat-error *ngIf="userNameFormControl.hasError('required')">
          {{hissuUserNameMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="ログインID" [formControl]="loginIdFormControl" [disabled]="true" required>

        <mat-error *ngIf="loginIdFormControl.hasError('required')">
          {{hissuLoginIdMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="パスワード" [formControl]="passwordFormControl" required>

        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{minlengthMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('isAlphaNumeric') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{alphabetMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('isLowerCase') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{lowcaseMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('isUpperCase') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{uppercaseMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('isDigit') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{digitMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('isSymbol') && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          {{symbolMessage}}
        </mat-error>

        <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{hissuPasswordMessage}}
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="権限" [formControl]="kengenFormControl" multiple>
          <mat-option *ngFor="let kengen of kengens" [value]="kengen.kengenId">{{kengen.kengenName}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-headline">ユーザ管理</div>

    <mat-divider></mat-divider>

    <button mat-button (click)="displayAddSideNav()"><mat-icon color="primary">add</mat-icon>追加</button>

    <button mat-button (click)="displayEditSideNav()"><mat-icon color="primary">create</mat-icon>編集</button>

    <button mat-button (click)="deleteCustomerInfo()"><mat-icon color="primary">delete_forever</mat-icon>削除</button>

    <mat-divider></mat-divider>

    <div fxLayout="column">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="顧客名でフィルタ">
      </mat-form-field>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ユーザ名でフィルタ">
      </mat-form-field>

    </div>

    <div>
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <mat-header-cell *matHeaderCellDef> 顧客名 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> ユーザ名 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loginId">
          <mat-header-cell *matHeaderCellDef> ログインID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.loginId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="kanri">
          <mat-header-cell *matHeaderCellDef> 管理 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.kanri}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="anken">
          <mat-header-cell *matHeaderCellDef> 案件作成 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.anken}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tunnel">
          <mat-header-cell *matHeaderCellDef> トンネル作成 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tunnel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="upload">
          <mat-header-cell *matHeaderCellDef> アップロード </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.upload}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="download">
          <mat-header-cell *matHeaderCellDef> ダウンロード </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.download}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

