<h1 mat-dialog-title>パスワード変更</h1>

<mat-divider></mat-divider>

<mat-dialog-content>

  <div fxLayout="column">

    <mat-form-field>

      <input matInput placeholder="現在のパスワード" [formControl]="currentPasswordFormControl" required>

      <mat-error *ngIf="currentPasswordFormControl.hasError('required')">

        {{hissuCurrentPassMessage}}

      </mat-error>

    </mat-form-field>

    <form [formGroup]="myForm">

      <div fxLayout="column">
        <mat-form-field>

          <input matInput placeholder="新パスワード" type="password" [formControl]="myForm.controls['newPassword']" required>

          <mat-error *ngIf="myForm.hasError('required', 'newPassword')">

            {{hissuNewPassMessage}}

          </mat-error>

        </mat-form-field>

        <mat-form-field>

          <input matInput placeholder="パスワードの確認" type="password" [formControl]="myForm.controls['confirmPassword']">

        </mat-form-field>
      </div>

    </form>

  </div>

  <div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

  <div *ngIf="isCurrentPass" class="alert alert-danger">{{currentPassMessage}}</div>

  <div *ngIf="isConfirmPass" class="alert alert-danger">{{confirmPassMessage}}</div>


</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button color="primary" mat-dialog-close>キャンセル</button>

  <button mat-raised-button color="primary" (click)="onChange()">変更</button>

</mat-dialog-actions>
