<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="tunnel_sidenav">

    <div class="sidenav_container">
      <div class="mat-headline">トンネル管理</div>

      <mat-divider></mat-divider>

      <button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

      <button *ngIf="isAdd" mat-button (click)="saveTunnelInfo()"><mat-icon color="primary">save</mat-icon>保存</button>
      <button *ngIf="isEdit" mat-button (click)="updateTunnelInfo()"><mat-icon color="primary">save</mat-icon>保存</button>

      <mat-divider></mat-divider>

      <div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

      <mat-form-field>
        <input matInput placeholder="トンネル名" [formControl]="tunnelNameFormControl" required>

        <mat-error *ngIf="tunnelNameFormControl.hasError('required')">
          {{hissuTunnelMessage}}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-headline">{{ankenName}}</div>

    <mat-divider></mat-divider>

    <a routerLink="../" mat-button><mat-icon color="primary">arrow_back</mat-icon>戻る</a>

    <button mat-button (click)="displayAddSideNav()" [disabled]="isAddDisabled"><mat-icon color="{{addIconColor}}">add</mat-icon>追加</button>

    <button mat-button (click)="displayEditSideNav()" [disabled]="isEditDisabled"><mat-icon color="{{editIconColor}}">create</mat-icon>編集</button>

    <button mat-button (click)="deleteTunnelInfo()" [disabled]="isDeleteDisabled"><mat-icon color="{{deleteIconColor}}">delete_forever</mat-icon>削除</button>

    <mat-divider></mat-divider>

    <mat-form-field>
      <input matInput (keyup)="applyFilterTunnelName($event.target.value)" placeholder="トンネル名でフィルタ">
    </mat-form-field>


    <div>
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectToggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> トンネル名 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="トンネル名">
            <a routerLink="../tunnel" (click)="setSelectedTunnel(element)" mat-button class="name-mat-button" color="primary"><mat-icon color="primary">launch</mat-icon>{{element.tunnelName}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enchou">
          <mat-header-cell *matHeaderCellDef mat-sort-header> トンネル延長 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="トンネル延長"> {{element.tunnelEnchou}}ｍ </mat-cell>
        </ng-container>

        <ng-container matColumnDef="yoteiImageNum">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 予定画像数 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="予定画像数"> {{element.yoteiImageNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 画像 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="画像"> {{element.imageNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ai">
          <mat-header-cell *matHeaderCellDef mat-sort-header> AI済 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="AI済"> {{element.aiNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 作成日 </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="作成日"> {{element.createdAt | date:"yyyy/MM/dd"}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 (click)="selectToggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
