.image-add-divider {
  border-top-width: 1px;
  border-top-color: grey;
}

.mat-form-field {
  width: 100%;
}

.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tunnel_sidenav {
  width: 300px;
}

.image-mat-button {
  padding: 0 0;
  color: grey;
}
