<div class="mat-headline">出力設定</div>

<mat-divider></mat-divider>

<button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

<button mat-button (click)="savePrintSet()"><mat-icon color="primary">save</mat-icon>保存</button>

<mat-divider></mat-divider>

<div *ngIf="isInput" class="alert alert-danger">{{hissuMessage}}</div>

<div fxLayout="column" fxLayoutGap="10px">

  <mat-slide-toggle [checked]="isSlideToggleDnnGenImage">DNN+現画像</mat-slide-toggle>

  <mat-slide-toggle [checked]="isSlideToggleDnnOnly">DNNのみ現画像</mat-slide-toggle>

  <div fxLayout="row" fxLayoutGap="50px">
    <mat-slide-toggle (change)="onChangeSlideToggleCad($event)" [checked]="isSlideToggleCad">CAD</mat-slide-toggle>

    <mat-checkbox (change)="onChangeCheckCad($event)" [disabled]="disabledCadCheck" [checked]="isCheckCad">CADに画像を埋め込む</mat-checkbox>
  </div>

  <div fxLayout="row" fxLayoutGap="50px">
    <mat-slide-toggle (change)="onChangeSlideTogglePdf($event)" [checked]="isSlideTogglePdf">PDF</mat-slide-toggle>

    <mat-checkbox (change)="onChangeCheckPdf($event)" [disabled]="disabledPdfCheck" [checked]="isCheckPdf">PDFに画像を埋め込む</mat-checkbox>
  </div>

  <mat-form-field>
    <input matInput type="number" placeholder="画像圧縮率(m)" [formControl]="compressionRateFormControl" required>

    <mat-error *ngIf="compressionRateFormControl.hasError('required')">
      {{hissuCompresionRateMessage}}
    </mat-error>

    <mat-error *ngIf="compressionRateFormControl.hasError('max')">
      {{maxCompresionRateMessage}}
    </mat-error>

    <mat-error *ngIf="compressionRateFormControl.hasError('isOverZero')">
      {{minCompresionRateMessage}}
    </mat-error>

  </mat-form-field>
</div>

