<mat-sidenav-container class="mat-elevation-z8">

  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" (opened)="initSidenav()" (closed)="destroySideNav()">

    <div *ngIf="isSideNavPreview">

      <app-preview [childToPreview]="previewImageName"></app-preview>

    </div>

    <div *ngIf="isSideNavImage" class="image_sidenav">

      <app-addimage></app-addimage>

    </div>


    <div *ngIf="isSideNavAiRiyoujoukyou">

      <app-airiyoujoukyou></app-airiyoujoukyou>


    </div>

  </mat-sidenav>


  <mat-sidenav-content>

    <div class="mat-headline">{{ankenName}} > {{tunnelName}}</div>

    <mat-divider></mat-divider>

    <a routerLink="../tunnellist" mat-button><mat-icon color="primary">arrow_back</mat-icon>戻る</a>

    <button mat-button (click)="displaySideNavImage()"><mat-icon color="primary">add</mat-icon>追加</button>

    <button mat-button (click)="deleteTunnelImageInfo()" [disabled]="isDeleteDisabled"><mat-icon color="{{deleteIconColor}}">delete_forever</mat-icon>削除</button>

    <button mat-button (click)="displaySideNavAiRiyoujoukyou()" [disabled]="isUploadDisabled"><mat-icon color="{{uploadIconColor}}">cloud_upload</mat-icon>アップロード</button>

    <button mat-button (click)="downloadFile()" [disabled]="isDownloadDisabled"><mat-icon color="{{downloadIconColor}}">cloud_download</mat-icon>ダウンロード</button>

    <button mat-button [disabled]="isDaichouDisabled"><mat-icon color="{{daichouIconColor}}">receipt</mat-icon>台帳</button>

    <button mat-button [disabled]="isPrintDisabled"><mat-icon color="{{printIconColor}}">print</mat-icon>印刷</button>

    <button mat-button [disabled]="isSummaryDisabled"><mat-icon color="{{summaryIconColor}}">view_list</mat-icon>サマリー</button>

    <mat-divider></mat-divider>

    <mat-form-field>
      <input matInput (keyup)="applyFilterImageName($event.target.value)" placeholder="画像名でフィルタ">
    </mat-form-field>


    <div *ngIf="message" class="alert alert-primary">{{message}}</div>


    <div>
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectToggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 画像名 </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button class="name-mat-button" (click)="displaySideNavPreview(element)" color="primary"><mat-icon color="primary">visibility</mat-icon>{{element.seikahinImage.imageName}}</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="width">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 横幅 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seikahinImage.width}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="height">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 縦幅 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seikahinImage.height}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hibiChushutsu">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ひび抽出 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seikahinImage.hibiChushutsu}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sonshou">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 損傷 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seikahinImage.sonshou}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hibiBunrui">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ひび分類 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seikahinImage.hibiBunrui}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selectToggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
