<div class="mat-headline">AI利用状況</div>

<mat-divider></mat-divider>

<button mat-button (click)="closeSideNav()"><mat-icon color="primary">arrow_back</mat-icon>戻る</button>

<button mat-button><mat-icon color="primary">save_alt</mat-icon>確定</button>

<mat-divider></mat-divider>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 案件名 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ankenName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 月 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.month}}月分 </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tunnel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> トンネル数 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tunnelNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enchou">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 総延長(ｍ) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.souEnchou}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tanka">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ｍ単価 </mat-header-cell>
      <mat-cell *matCellDef="let element"> \{{element.tanka}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kei">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 計 </mat-header-cell>
      <mat-cell *matCellDef="let element"> \{{element.kei}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
