.portal_toolbar {
  background-color: black;
}

.portal_toolbar_title {
  color: white;
}

.portal_toolbar_menu {
  color: white;
}

.portal_toolbar-spacer {
  flex: 1 1 auto;
}

.logo_img{
  margin-right:10px;

}

.menu_icon{
  color:white;
}
