.portal_toolbar {
  background-color: black;
}

.portal_toolbar_title {
  color: white;
}

.portal_toolbar_menu {
  color: white;
}

.portal_toolbar-spacer {
  flex: 1 1 auto;
}

.logo_img{
  margin-right:10px;

}

.menu_icon{
  color:white;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:1;
}

.layout-body {
  padding-top:64px;
}

.layout-footer {
  margin-top: auto;
}
