<mat-sidenav-container fxFlexFill>

  <mat-sidenav #sidenav position="end" fixedInViewport="true">

    <mat-list>
      <mat-list-item>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>close</mat-icon>閉じる</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="gyoumuJump()">ポータル</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="openSignin()">{{signinCaption}}</button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>


  <mat-sidenav-content>


    <mat-toolbar class="portal_toolbar">

      <mat-toolbar-row>

        <img src="assets/logo.png" width="50" class="logo_img">

        <span class="portal_toolbar_title">AI変状抽出システム</span>

        <span class="portal_toolbar-spacer"></span>

        <div fxShow="true" fxHide.lt-md="true">

          <button mat-button class="portal_toolbar_menu" (click)="gyoumuJump()">ポータル</button>

          <button mat-button class="portal_toolbar_menu" (click)="openSignin()">{{signinCaption}}</button>


        </div>

        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">

          <mat-icon class="menu_icon">menu</mat-icon>

        </button>

      </mat-toolbar-row>

    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>
